body{
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: 'Raleway', sans-serif;
}


a.button {
  display: block;
  padding: 10px 20px;
  background-color: #3366cc;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
    margin: 5px auto;
    width: 400px;
    max-width: calc(100vw - 80px);
}

a.button:hover {
  background-color: #254e80;
}


h1, h2, h3 {
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  color: #666666;
  line-height: 1.5;
  margin-bottom: 15px;
    text-align: center;
}

.hider {
    z-index: 1000;
    height: 62px;
    transform: translateY(-79.5px);
    background-color: #ffffff;
    position: absolute;
    width: 100%;
}

.mapy{
    text-align: center;
}

.power-bi{
    text-align: center;
}

.aa{
    width: 400px;
    max-width: 100%;
}